.arrow img {
  width: 1.5rem;
}

.houses_main {
  grid-row-start: 2;
  grid-row-end: 5;
}

.header_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.circular-dots-border {
  border: 3px dotted #e8e8e8;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 0.2rem;
  width: 10rem !important;
}

.main_page_container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.main_page_container h1,
h2,
h4,
h5 {
  font-weight: 800 !important;
  color: black;
}

@media screen and (max-width: 767px) {
  .main_page_container {
    margin-top: 3rem;
    grid-template-rows: auto;
  }

  .arrow {
    width: 2.5rem;
  }

  .arrow img {
    width: 1.2rem;
  }

  .left {
    z-index: 2;
  }
}
