.house_article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 19rem;
  text-align: center;
}

.house_pic {
  height: 16rem;
  width: 18rem;
}

.house-detail-link {
  text-decoration: none;
}
