.house_article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 19rem;
  text-align: center;
  animation: scaleAnimation 0.4s ease-in-out;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.house_pic {
  height: 12rem !important;
  width: 18rem;
}

.house-detail-link {
  text-decoration: none;
}

.name_house_container {
  height: 2.5rem;
}
