.house_article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 19rem;
  text-align: center;
  transform: scale(0) translate(-100%);
  transition: 0.4s ease-in-out;
}

.house_pic {
  height: 12rem !important;
  width: 18rem;
}

.house-detail-link {
  text-decoration: none;
}

.name_house_container {
  height: 2.5rem;
}

.transition {
  transform: scale(1);
}
